<template>
<div>
    <navbar></navbar>
    About
</div>
</template>

<script>
import navbar from '../components/AppNavbar.vue'
export default {
  components:
  {
    navbar
  },
  name: 'about'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
  body{
    background-color: #eaeae8;
  }
</style>