<template>
  <div id="page">
    <navbar></navbar>
    <b-container fluid id="page" >
      <h1 style="display:inline-block" class="animated bounceInRight">&lt;dartparse&lt;&lt;</h1>
      <!-- <b-img class="animated bounceInRight" fluid-grow src="../assets/logo.jpg"/> -->
    </b-container>
    
  </div>
</template>

<script>
import navbar from '../components/AppNavbar.vue'
export default {
  data () {
    return {
      imageLink: '../assets/logo.jpg'
    }
  },
  components:
  {
    navbar
  },
  name: 'home'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  body{
    background-image: url('../assets/logo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
