<template>
<div>
    <navbar></navbar>
    <b-container fluid>
      <H2>Log in</H2>
      <b-form @submit="onSubmit">
        <b-form-group id="exampleInputGroup2"
                      label="Userame:"
                      label-for="exampleInput2">
          <b-form-input id="exampleInput2"
                        type="text"
                        v-model="form.username"
                        required
                        placeholder="Enter Username">
          </b-form-input>
        </b-form-group>
        <b-form-group id="exampleInputGroup2"
                      label="Password:"
                      label-for="exampleInput2">
          <b-form-input id="exampleInput2"
                        type="password"
                        v-model="form.password"
                        required
                        placeholder="Enter Password">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
      </b-form>
    </b-container>
</div>
</template>

<script>
import navbar from '../components/AppNavbar.vue'
export default {
  components:
  {
    navbar
  },
  data () {
    return {
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    }
  },
  name: 'login'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  body{
    background-color: #eaeae8;
  }

</style>
