<template>
<div>
    <navbar></navbar>
    <b-container fluid>
      <H2>Sign up</H2>
      <b-form @submit="onSubmit"  invalid-feedback>
        <b-form-group id="exampleInputGroup1"
                      label="Email address:"
                      label-for="exampleInput1">
          <b-form-input id="exampleInput1"
                        type="email"
                        v-model="form.email"
                        required
                        placeholder="Enter email">
          </b-form-input>
        </b-form-group>
        <b-form-group id="exampleInputGroup2"
                      label="Userame:"
                      label-for="inputLive">
          <b-form-input id="inputLive"
                        type="text"
                        v-model.trim="form.username"
                        v-bind:state="usernameState"
                        aria-describedby="inputLiveFeedback"
                        required
                        placeholder="Enter Username">
          </b-form-input>
          <b-form-invalid-feedback id="inputLiveFeedback">
            <!-- This will only be shown if the preceeding input has an invalid state -->
            Enter at least 4 letters
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="exampleInputGroup2"
                      label="Password:"
                      label-for="exampleInput2">
          <b-form-input id="exampleInput2"
                        type="password"
                        v-model="form.password"
                        required
                        placeholder="Enter Password">
          </b-form-input>
        </b-form-group>
        <b-form-group id="exampleInputGroup2"
                      label="Retype password:"
                      label-for="exampleInput2">
          <b-form-input id="exampleInput2"
                        type="password"
                        v-model="form.password2"
                        required
                        placeholder="Enter Password">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
      </b-form>
    </b-container>
</div>
</template>

<script>
import navbar from '../components/AppNavbar.vue'
export default {

  components:
  {
    navbar
  },
  data () {
    return {
      form: {
        email: '',
        username: '',
        password: '',
        password2: ''
      }
    }
  },
  computed: {
    usernameState () {
      return this.form.username.length > 3
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    }
  },
  name: 'signup'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  body{
    background-image: none;
    background-color: #eaeae8;
  }
</style>