<template>
<b-navbar toggleable="md" type="dark" variant="dark">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand to="/">DartParse</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">
        <b-navbar-nav>
            <b-nav-item to='/LogIn'>Log In</b-nav-item>
            <b-nav-item to="/SignUp">Sign Up</b-nav-item>
            <b-nav-item  to="/AboutApp">About</b-nav-item>
        </b-navbar-nav>
    </b-navbar-nav>

  </b-collapse>
</b-navbar>

<!-- navbar-1.vue -->
</template>

<script>
export default {
  name: 'navbar'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>